<script>

</script>
<style>
    .content {
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
</style>

<div class="content">
    <h2>What is this?</h2>
    <p>
        This is the Grand Prix Car Reservation System (GPCRS)! It's a simple website that makes it easy to reserve Grand Prix cars. I (<a href="https://kodystriplin.com/">Kody</a>) made this site with <a href="https://svelte.dev/">Svelte</a> and <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>.
    </p>
</div>