<script>
    import {auth} from './store.js';
    let admin = false;
    let fingerprint;
    auth.subscribe(async value => {
        fingerprint = value.fingerprint;
        if (fingerprint) {
            const authResponse = await fetch(
                '/api/login?id=' + fingerprint,
                {
                    method: 'PUT',
                }
            );
            const authJson = await authResponse.json();
            admin  = (authJson.data.admin === 1);
        }
    });
</script>
<style>
    .content {
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
    li {
        list-style: none;
    }
</style>

{#if admin}
    <div class="content">
        <h2>Welcome, Admin</h2>
        <ul>
            <li><a href="#/users">Clubbers List</a></li>
            <li><a href="#/reservations">View/Download Reservations</a></li>
        </ul>
    </div>
{/if}