<style>
	.main {
		display: grid;
		margin-top: 0;
	}
</style>

<script>
	import Header from './Header.svelte';
	import Admin from './Admin.svelte';
	import SelectCar from './SelectCar.svelte';
	import ReserveCar from './ReserveCar.svelte';
	import CompleteReservation from './CompleteReservation.svelte';
	import About from './About.svelte';
	import Error from './Error.svelte';
	import Router from 'svelte-spa-router';
	import Footer from './Footer.svelte';
	import Login from './Login.svelte';
	import Reservations from './Reservations.svelte';
	import Users from './Users.svelte';
	import {auth} from './store.js';
	let authenticated;
	let fingerprint;
	async function handleLogin(event) {
		if (event.detail.authenticated = true) {
			auth.set({
				'authenticated': true,
				'fingerprint': event.detail.fingerprint
			});
		}
	}
	auth.subscribe(value => {
		authenticated = value.authenticated,
		fingerprint = value.fingerprint
	});
	const routes = {
		'/': SelectCar,

		'/car/:carId': ReserveCar,

		'/complete': CompleteReservation,

		'/reservations': Reservations,

		'/users': Users,

		'/about': About,

		'/admin': Admin,

		'*': Error
	}
</script>

<div class="main">
	<Header />
	{#if authenticated}
		<Router {routes} />
	{:else}
		<Login on:login={handleLogin}/>
	{/if}
	<div style='margin-bottom:50px;'></div>
	<Footer />
</div>

