<style>
	.car {
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px;
		margin: 5px;
		width: 50px;
		height: 50px;
	}

	.car:hover {
		border: solid 1px;
		background-color: #f5f5f5;
		cursor: pointer;
	}
</style>

<script>
	export let id;
</script>
<a href="#/car/{id}">
	<div class="car">
		#{id}
	</div>
</a>