<script>
    import {querystring} from 'svelte-spa-router';
    import * as qs from 'qs';
    import { onMount } from 'svelte';
    const myquery = qs.parse($querystring);
    const fingerprint = myquery.id;
    let reservationInfo;
    const handlePrint = async () => {
        window.print();
    }
    onMount(async() => {
        const row = await fetch('/api/reservation?id=' + fingerprint);
        const reservation = await row.json();
        reservationInfo = reservation;
    })
</script>

<style>
    .content {
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
    h3 {
        text-align: center;
        font-size: 16px;
    }
    li {
        list-style: none;
    }
    button {
        width: 100px;
        height: auto;
    }
</style>

<div class="content">
    {#if reservationInfo}
        <h2>Reservation complete!</h2>
        <h3>You'll be racing with Car #{reservationInfo['car_id']}</h3>
        <p>
            Here's what we sent to the race coordinators:
        </p>
        <ul>
            <li>Parent name: {reservationInfo.parent}</li>
            <li>Clubber name: {reservationInfo.child}</li>
            <li>Email address: {reservationInfo.email}</li>
            <li>Grade: {reservationInfo.grade}</li>
            <li>Club: {reservationInfo.club}</li>
            <li>Reserved at: {reservationInfo['reserved_at']}</li>
        </ul>
        <button on:click={handlePrint}>Print</button>
    {/if}
</div>