<script>
	import {auth} from './store.js';
	let admin = false;
	let fingerprint;
	auth.subscribe(async value => {
		fingerprint = value.fingerprint;
		if (fingerprint) {
			const authResponse = await fetch(
				'/api/login?id=' + fingerprint,
				{
					method: 'PUT',
				}
			);
			const authJson = await authResponse.json();
			admin  = (authJson.data.admin === 1);
		}
	});
	
</script>

<style>
	.footer {
		position:fixed;
		left: 0px;
		bottom: 0px;
		height: 30px;
		width: 100%;
		padding: 15px;
		background-color: #0A79DF;
	}

	.footer a {
		color: white;
	}
</style>


<div class="footer">
	<a href="#/about">About</a>
	{#if admin}
		<a href="#/admin">Admin</a>
	{/if}
</div>