<style>
	.header {
		padding-left: 15px;
		padding-top: 15px;
		background-color: #0A79DF;
	}

	.header h1 a{
		color: white;
		font-size: 18px;

	}
</style>

<div class="header">
	<h1><a href="#/">Grand Prix Car Reservation System</a></h1>
</div>