<script>
	import { onMount } from 'svelte';
    import Error from './Error.svelte';
    let badCode = false;

    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();
    
	const handleSubmit = async(event) => {
        const code = event.target.code.value;
        const response = await fetch(
            '/api/login' +
            '?id=' + code,
            {
                method: 'PUT',
            }
        );
        const status = response.status;
        const responseBody = await response.json();

        if (status == 401) {
            badCode = true;
        } else {
            const auth = {'authenticated': true, 'fingerprint': responseBody.data.fingerprint}
            dispatch('login', auth);
        }

	}

	onMount(async () => {
        // ?
	});
</script>

<style>
	.login {
		padding: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
	}
</style>
<div class="login">
    <h2>Please enter your access code</h2>
    <br />
    {#if badCode}
        <h3>Code not found! Please try again</h3>
    {/if}
    <br />
    <div class="login-form">
        <form action="" on:submit|preventDefault={handleSubmit}>
            <label>Code:
                <input type="textfield" name="code">
                <button type="submit">Go!</button>
            </label>
        </form>
    </div>
</div>
<!-- {#if error}
	<Error />
{/if} -->
