<script>
	export let params = {}
	export let selectedCar = params.carId;
	import { onMount } from 'svelte';
	import {auth} from './store.js'
	import Error from './Error.svelte';
	let available = false;
	let error = false;
	let fingerprint;
	auth.subscribe(value => {
		fingerprint = value.fingerprint;
	});

	let grades = [{'value': 'kindergarten', 'friendly': 'Kindergarten'}, {'value': '1', 'friendly': '1st grade'}, {'value': '2', 'friendly':  '2nd grade'}, {'value': '3', 'friendly':  '3rd grade'}, {'value': '4', 'friendly': '4th grade'}, {'value': '5', 'friendly': '5th grade'}, {'value': '6', 'friendly': '6th grade'}, {'value': '7', 'friendly': '7th grade'}, {'value': '8', 'friendly': '8th grade'}, {'value': '9', 'friendly': '9th grade'}, {'value': '10', 'friendly': '10th grade'}, {'value': '11', 'friendly': '11th grade'}, {'value': '12', 'friendly': '12th grade'}];

	let clubs = [{'value': 'tnt', 'friendly': 'TnT'},{'value': 'trek', 'friendly': 'Trek/Journey'},{'value': 'sparky', 'friendly': 'Sparky'},{'value': 'junior', 'friendly': 'Junior'}];

	const handleSubmit = async(event) => {
		const parent = event.target.parent.value;
		const child = event.target.child.value;
		const email = event.target.email.value;
		const club = event.target.club.value;
		const grade = event.target.grade.value;

		const ret = await fetch(
			'/api/car/' +
			selectedCar + 
			'?id=' + fingerprint +
			'&action=finalize',
			{
				method: 'PUT',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({
					parent: parent,
					child: child,
					email: email,
					grade: grade,
					club: club
				})
			}
		).then(response => response.json());
		window.location.href="#/complete?id=" + fingerprint;
	}

	const holdCar = async () => {
		fetch(
			'/api/clear-cars' +
			'?id=' + fingerprint,
			{
				method: 'PUT'
			}
		);

		const ret = await fetch(
			'/api/car/' + 
			selectedCar + 
			'?id=' + fingerprint +
			'&action=hold',
			{
				method: 'PUT',
			}
		).then(response => response.json());
		return ret;
	}

	onMount(async () => {
		// go see if we already have a reservation
		const car = await fetch('/api/car/' + selectedCar + '?id=' + fingerprint).then(res => res.json());
		const now = new Date();
		if (car.expires !== 'null') {
			var expires = new Date(car.expires);
		} else {
			expires = new Date("1970-01-01 00:00:00");
		}

		if (expires < now || car.status === 'available') {
			available = true;
			await holdCar();
		} else {
			error = true;
		}
	});
</script>

<style>
    h2 {
        text-align: center;
        font-size: 18px;
    }
	.reserve-car {
		padding: 15px;
	}

	.reserve-car h2 {
		text-align: center;
	}
	
	.reserve-car h3 {
		text-align: center;
	}

	.reservation-form {
        padding: 0% 10% 0% 10%;
	}
</style>
{#if available}
	<div class="reserve-car">
		<h2>GREAT CHOICE!</h2>
		<br />
		<h3>Step 2: Reserve Car #{selectedCar}!</h3>
		<br />
		<div class="reservation-form">
			<form action="" on:submit|preventDefault={handleSubmit}>
				<label>Parent's name
					<input type="textfield" name="parent">
				</label>
				<label>Clubber's name
					<input type="textfield" name="child">
				</label>
				<label>Email address
					<input type="textfield" name="email">
				</label>
				<select name="club" id="club">
					{#each clubs as club}
						<option value={club.value}>{club.friendly}</option>
					{/each}
				</select>
				<select name="grade" id="grade">
					{#each grades as grade}
						<option value={grade.value}>{grade.friendly}</option>
					{/each}
				</select>
				<button type="submit">Reserve!</button>
			</form>
		</div>
	</div>
{/if}

{#if error}
	<Error />
{/if}
