<script>
    import {auth} from './store.js';
    import {onMount} from 'svelte';

    let admin = false;
    let fingerprint;
    let reservations = [];
    let cars = [];
    onMount(async () => {
        fingerprint = $auth.fingerprint;
        if (fingerprint) {
            const authResponse = await fetch(
                '/api/login?id=' + fingerprint,
                {
                    method: 'PUT',
                }
            );
            const authJson = await authResponse.json();
            admin  = (authJson.data.admin === 1);
        }
        if (admin) {
            const reservationsRows = await fetch('/api/admin/reservations?id=' + fingerprint);
            const reservationsJson = await reservationsRows.json();
            reservations = reservationsJson;
            const carsRows = await fetch('/api/admin/cars?id=' + fingerprint);
            const carsJson = await carsRows.json();
            cars = carsJson;
        }
    });

    const handleDownload = async () => {
        const res = await fetch('/api/admin/reservations?id=' + fingerprint + '&filetype=xlsx');
        const blob = await res.blob();
        const url = window.URL.createObjectURL(blob);
        let a = document.createElement('a');
        a.href = url;
        a.download = 'GrandPrixReservations.xlsx';
        document.body.appendChild(a);
        a.click();
        a.remove();
    }
</script>

<style>
    .content {
        padding: 0% 10% 0% 10%;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
    table, th, td {
        border-bottom: 1px solid #f5f5f5;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th {
        text-align: left;
		background-color: #0A79DF;
        color: white;
    }

    td {
        vertical-align: middle;
    }
    
    tr:hover {background-color: #f5f5f5;}

</style>

<div class="content">
    <h2>All finalized reservations</h2>
    {#if reservations.length > 0}
        <button on:click={handleDownload}>Download .xlsx</button>
        <table>
            <tr>
                <th>Car</th>
                <th>Parent</th>
                <th>Clubber</th>
                <th>Email</th>
                <th>Grade</th>
                <th>Club</th>
            </tr>
            {#each reservations as res}
                <tr>
                    <td>{res.carId}</td>
                    <td>{res.parent}</td>
                    <td>{res.child}</td>
                    <td>{res.email}</td>
                    <td>{res.grade}</td>
                    <td>{res.club}</td>
                </tr>
            {/each}
        </table>
    {/if}
    <h2>All cars</h2>
    {#if cars.length > 0}
        <table>
            <tr>
                <th>Car</th>
                <th>Status</th>
                <th>Last seen by</th>
                <th>Last updated</th>
            </tr>
            {#each cars as car}
                <tr>
                    <td>{car.id}</td>
                    <td>{car.status}</td>
                    <td>{car.fingerprint}</td>
                    <td>{car['last_updated']}</td>
                </tr>
            {/each}
        </table>
    {/if}
</div>