<style>
	.select-car {
		padding: 15px;
	}

	.select-car h2 {
		font-size: 18px;
		text-align: center;
	}
	.car-view {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.car-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		width:80%;
	}

	.car-item {
		display: flex;
		justify-content: center;
	}

</style>

<script>
	import Car from './Car.svelte';
	import { onMount } from 'svelte';
	import {auth} from './store.js'
	let fingerprint;
	auth.subscribe(value => {
		fingerprint = value.fingerprint;
	});
	let cars = [];
	let alreadyReserved = true;
	const get = async (url) => {
		const res = await fetch(url).then(response => response.json());
		return res;
	}

	onMount(async () => {
		
		const reservation = await get('/api/reservation?id=' + fingerprint)
		if (Object.keys(reservation).length === 0) {
			alreadyReserved = false;
		} else {
			window.location.href="#/complete?id=" + fingerprint;
			alreadyReserved = true;
		}
		await fetch('/api/clear-cars?id=' + fingerprint,
			{
				method: 'PUT'
			});
		cars = await get('/api/cars?id=' + fingerprint);
	});

</script>

{#if !alreadyReserved}
	<div class="select-car">
		<h2>Step 1: Select a Car!</h2>
		<div class="car-view">
			<div class="car-grid">
				{#each cars as car}
					<div class="car-item">
						<Car 
							id={car.id}
						/>
					</div>
				{/each}
			</div>
		</div>
	</div>
{/if}