<script>
    import {auth} from './store.js';
    import {onMount} from 'svelte';
    let admin = false;
    let fingerprint;
    let fingerprints = [];
    onMount(async () => {
        fingerprint = $auth.fingerprint;
        if (fingerprint) {
            const authResponse = await fetch(
                '/api/login?id=' + fingerprint,
                {
                    method: 'PUT',
                }
            );
            const authJson = await authResponse.json();
            admin  = (authJson.data.admin === 1);
        }
        if (admin) {
            const fingerprintsRows = await fetch('/api/fingerprints?id=' + fingerprint);
            const fingerprintsJson = await fingerprintsRows.json();
            fingerprints = fingerprintsJson;
        }
    });
</script>

<style>
    .content {
        padding: 0% 10% 0% 10%;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
    table, th, td {
        border-bottom: 1px solid #f5f5f5;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th {
        text-align: left;
		background-color: #0A79DF;
        color: white;
    }

    td {
        vertical-align: middle;
    }
    
    tr:hover {background-color: #f5f5f5;}

</style>

{#if admin}
    <div class="content">
        <h2>All access keys</h2>
        {#if fingerprints.length > 0}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Access key</th>
                    <th>Admin</th>
                </tr>
                {#each fingerprints as user}
                    <tr>
                        <td>{user.id}</td>
                        <td>{user.fingerprint}</td>
                        <td>{user.admin}</td>
                    </tr>
                {/each}
            </table>
        {/if}
    </div>
{/if}